{% load static%}
<!DOCTYPE html>
<html>
<head>
    <title>My Cart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'cart.css' %}">
</head>
<body>
    <div class="center-heading">
        <h1>My Cart</h1>
    </div>
    <div class="container-fluid mt-5">
        <div class='row card-group  justify-content-evenly'>
        {% for product_id, item in cart.items %}
        <div class="col-sm-2 justify-content-sm-evenly mt-5 m-lg-5">
                <div class="card ">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <p class="card-text">Price : {{ item.price }}</p>
                        <p class="card-text">Quantity : {{ item.quantity }}</p>
                    </div>
                </div>
            </div>
            {% empty %}
            <tr>
                <td colspan="4">No items in cart</td>
            </tr>
            {% endfor %}
        </div>
        
    </div>
</body>
</html>




