{% extends 'user/navbar.html' %}
{% load static %}
{% block mymessage %}
<div class="div1">
    <div class="d-flex justify-content-evenly align-items-center">
      <div class="card" style="width: 18rem;">
        <img src="{% static '/images/carousel_8.png' %}" class="card-img-top" alt="..." width="250px" height="250px" style="border: 5px solid #74cfbf;" >
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="{% static '/images/carousel_8.png' %}" class="card-img-top" alt="..." width="250px" height="250px" style="border: 5px solid #74cfbf;">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="{% static '/images/carousel_8.png' %}" class="card-img-top" alt="..." width="250px" height="250px" style="border: 5px solid #74cfbf;">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 