{% extends 'user/navbar.html' %}
{% load static %}
{% block hello %}
<div class="dropdown">
	<button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  <i class="fa fa-bars fa-2xl"></i>
	</button>
	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		<a class="dropdown-item" style="text-transform: uppercase;">{{name}}</a>
		<a class="dropdown-item" href="{% url 'cart-view'%}">Cart</a>
		<a class="dropdown-item" href="#">Setting</a>
		<a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
	</div>
  </div>

{% endblock %}
{% block mymessage %}
<div class="container mt-4"> 
    <table class="table">
      <thead>
        <tr>
			    <th>Product</th>
			    <span></span>
			    <th>Status</th>
          <th>Cancel</th>
        </tr>
      </thead>
      <tbody>
		{% for item in order %}
        <tr>
          <td>{{item.product}}</td>
          <td>{{item.status}}</td>
          <td><a id="Remove"href="{% url 'remove_Order' item.date_created %}" class="btnn btn-sm btn-danger">REMOVE</a></td>
        </tr>
      </tbody>
    {% endfor %}
      <script>
        document.getElementById("Remove").addEventListener("click", function() {

          var confirmed = confirm("Are you sure you want to Remove order?");
        
          if (confirmed) {

            alert("Action confirmed!");
          } else {

            alert("Action cancelled.");
          }
        });
        </script>
    </table>
  </div>							
{% endblock %} 

{% block logout %}
<li class="nav-item">
	<a class="nav-link" href="{% url 'product' %}" style="color: white;">Product</a>
  </li>
{% endblock %}
